.Age {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.Age_Child {
  width: 50%;
  background-color: #eeeeee;
  border-radius: 5px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.header {
  display: block;
  width: 50%;
  font-family: Georgia, serif;
}
.result {
  display: block;
  width: 50%;
  font-family: sans-serif;
}
.Birthday_ {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
  width: 80%;
}

.Birthday_input {
  border-radius: 5px;
  border: 0;
  width: 100%;
  padding: 14px;
}
.Birthday_input:focus {
  outline: none;
}
.label_ {
  color: #000 !important;
}
.button_parent {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-around;
  margin-top: 20px;
}
.buttons {
  color: #fff !important;
  text-transform: unset !important;
}
.calander {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;
}
.css-8v7him {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  margin-top: 0 !important;
  margin-bottom: 8px;
  padding-left: 24px;
  padding-right: 12px;
  max-height: 36px !important ;
  min-height: 30px;
  background-color: cornflowerblue !important;
  align-items: center;
}
.css-s8aszu {
  overflow: hidden;
  min-width: 320px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
}
html,
body,
#root,
.App {
  background: #fdfdfd;
}
.calculator_header {
  background-color: blueviolet;
  display: block;
  width: 100%;
  color: #fff;
  padding: 15px 0;
}
.calculator_net {
  margin: 0 auto;
  width: 50%;
}
